*~
*.wav
.\#*
\#*\#
*.jar
*.class
/.lein-*
/classes/
/out/
/target/
.repl
.nrepl-port
.sass-cache
/resources
.DS_STORE
/native
.cpcache
.dir-locals.el*
*.log
henda.txt
*.bak
*-BAK
lib
src/editor
.rebel_readline_history
pom.xml

# Editor
editor/yarn.lock
editor/node_modules
editor/resources/*.jar
editor/resources/public/js/cljs-runtime
editor/.shadow-cljs
