{:mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}
             "bintray" {:url "http://jcenter.bintray.com"}}

 :paths ["src" "resources" "./deps.edn"]

 :deps  {badigeon/badigeon            {:git/url "https://github.com/EwenG/badigeon.git" :sha "5718cd5d10e41228717fe2fe145470b9b85fa281"}
         com.google.inject/guice      {:mvn/version "4.2.2"}
         com.kunstmusik/CsoundJNA     {:mvn/version "1.0.1"}
         expound                      {:mvn/version "0.7.2"}
         instaparse                   {:mvn/version "1.4.9"}
         net.java.dev.jna/jna         {:mvn/version "5.3.1"}
         nrepl                        {:mvn/version "0.6.0"}
         org.clojure/clojure          {:mvn/version "1.10.0"}
         org.clojure/core.async       {:git/url "https://github.com/clojure/core.async.git" :sha "300d6e16e4b1537b8b58240faa3156d3b763afd8"}
         org.clojure/tools.namespace  {:mvn/version "0.3.0"}
         org.jaudiolibs/jnajack       {:mvn/version "1.3.0"}
         overtone/ableton-link        {:mvn/version "1.0.0-beta11"}
         panaeolus/libcsound64        {:git/url "https://github.com/panaeolus/libcsound64.git" :sha "336f38d086e6b321fba270f4324a130181fe91b4"}
         rksm/subprocess              {:mvn/version "0.1.3"}
         techascent/tech.jna          {:mvn/version "3.18"}
         zprint                       {:mvn/version "0.4.16"}}

 :aliases {:nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.22.0-SNAPSHOT"}}
                   :main-opts ["-m nrepl.cmdline --middleware [cider.nrepl/cider-middleware]"
                               "-Xms2G" "-Xmx5G"]}
           :editor {:extra-deps
                    { cljfx {:git/url "https://github.com/cljfx/cljfx"
                             :sha "e70c0653bde0dd7393923f9179ad44797ff9da0a"}
                     org.fxmisc.richtext/richtextfx {:mvn/version "0.10.0"}
                     org.fxmisc.flowless/flowless {:mvn/version "0.6.1"}}}
           ;; COMPILING_PANAEOLUS=1 clojure -A:jar -R:jar -m compile-jar
           ;; $env:COMPILING_PANAEOLUS = '1'; clojure -A:jar -m build
           ;; cp target/panaeolus-0.4.0-SNAPSHOT.jar editor/resources/panaeolus.jar
           :jar {:extra-paths ["scripts"]
                 :jvm-opts ["-Dclojure.compile.warn-on-reflection=true"]}
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-418"}
                               kaocha-noyoda {:mvn/version "2019-06-03"}}
                  :extra-paths ["test"]}
           :jna-debug {:jvm-opts ["-Djna.debug_load=true"]}
           :native-image {:main-opts ["-m clj.native-image panaeolus.all"
                                      "-Dclojure.compiler.direct-linking=true"
                                      "--no-server"
                                      "--report-unsupported-elements-at-runtime"]
                          :extra-deps
                          {clj.native-image
                           {:git/url "https://github.com/taylorwood/clj.native-image.git"
                            :sha "498baa963e914fd817dbf33ea251729efd0c8f95"}}}}}
