{:paths ["src" "resources" "native" "dev"]
 :deps  {org.clojure/clojure          {:mvn/version "1.9.0"}
         org.clojure/core.async       {:mvn/version "0.4.474"}
         overtone/ableton-link        {:mvn/version "1.0.0-alpha4"}
         org.clojure/tools.deps.alpha {:mvn/version "0.5.460"}
         com.kunstmusik/CsoundJNA     {:local/root "lib/CsoundJNA-1.0-SNAPSHOT.jar"}
         org.jaudiolibs/audioservers  {:local/root "lib/audioservers-jack-1.2.0-SNAPSHOT.jar"}
         org.jaudiolibs/jnajack       {:mvn/version "1.3.0"}
         overtone/overtone            {:mvn/version "0.11.0"}
         overtone/scsynth             {:mvn/version "3.9.3-1"}
         overtone/scsynth-extras      {:mvn/version "3.9.3-1"}
         clj-native                   {:mvn/version "0.9.5"}
         instaparse                   {:mvn/version "1.4.9"}
         net.java.dev.jna/jna         {:mvn/version "5.1.0"}

         }
 :aliases {:live {:jvm-opts ["-Xms2G" "-Xmx5G"
                             "-Djava.library.path=native"
                             ;; "-Djna.debug_load=true"
                             ]}}}
